/* my impotations */

@import url("variables.css");

/* default settings */

* {
    margin: 0;

    box-sizing: border-box;

    padding: 5px;

    color: var(--M_TEXT_COLOR);
}

/* body */

body {
    height: 100dvh;

    font-family: sans-serif;
    
    overflow-x: hidden;

    animation: an_opacity 2.5s linear;

    animation: an_main 10s linear infinite;
}

/* top part */

#m_up {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main part */

#m_main {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* menu */

#m_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 15px;

    padding: 10px;

    margin: 10px;

    box-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);

    animation: an_main 10s linear infinite;
}

/* loader */

#m_loader {
    width: 100px;
    height: 100px;
}

#m_loader_1 {
    width: 100%;
    height: 100%;

    border-radius: 100%;
    border-width: 5px;
    border-color: var(--M_TEXT_COLOR);
    border-style: solid;
    border-top-color: transparent;

    box-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);

    animation: an_rotate_right 2s linear infinite;
}

#m_loader_2 {
    width: 100%;
    height: 100%;

    border-radius: 100%;
    border-width: 5px;
    border-color: var(--M_TEXT_COLOR);
    border-style: solid;
    border-top-color: transparent;

    box-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);

    animation: an_rotate_left 1s linear infinite;
}

/* p settings */

b {
    white-space: pre-line;
}

/* list settings */

ul {
    list-style: inside;
}

/* button settings */

button {
    width: 100%;
    background-color: transparent;

    border: none;
    border-radius: 15px;

    box-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);

    transition: transform 1s ease;
}

/* img settings */

img {
    width: 40px;
    height: 40px;

    padding: 0;

    border-radius: 100%;

    z-index: 1;

    transition: transform 1s ease;
}

#m_img_pf {
    width: 80px;
    height: 80px;

    filter: brightness(50%);
}

/* h1 settings */

h1 {
    text-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);
}

/* h2 settings */

h2 {
    text-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);
}

/* a settings */

a {
    color: red;
}

/* input settings */

input[type = "radio"] {
    width: 20px;
    height: 20px;

    appearance: none;

    border-radius: 15px;
    border-color: var(--M_BACKGROUND_COLOR);
    border-style: solid;

    box-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);
}

input[type = "radio"]:checked {
    background-color: var(--M_TEXT_COLOR);
}

/* mark settings */

mark {
    background-color: transparent;

    text-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);

    color: var(--SHADOW_COLOR);
}

/* dialog settings */

#id_m_div_main {
    border-radius: 15px;

    box-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);

    animation: an_main 10s linear infinite;
}

/* dialog img settings */

#m_show_img_gg {
    border-radius: 100%;

    box-shadow: 0 0 var(--M_WIDTH_SHADOW) var(--SHADOW_COLOR);
}

/* hover All */

button:hover {
    transform: scale(0.9);
}

img:hover {
    transform: scale(1.3);
}

/* animations */

@keyframes an_main {
    from {
        background: radial-gradient(var(--M_BACKGROUND_COLOR), var(--M_BACKGROUND_COLOR_OUTHER));
    }

    to {
        background: radial-gradient(var(--M_BACKGROUND_COLOR_OUTHER), var(--M_BACKGROUND_COLOR));
    }
}

@keyframes an_rotate_right {
    to {
        transform: rotate(360deg);
    }
}

@keyframes an_rotate_left {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes an_opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}